.page-for-form {
  padding-bottom: 20px;
  transition: 1s;
  position: relative;
  overflow: hidden;
  background: #183b56;
}
.page-for-form .contact-us-img {
  display: none;
}
.page-for-form form {
  text-align: left;
  width: 100%;
  max-width: 1150px;
  box-shadow: unset;
  padding: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}
.page-for-form form.active .heading {
  transform: translateX(0);
  opacity: 1;
}
.page-for-form form.active .inputs-labels {
  transform: translateX(0);
  opacity: 1;
}
.page-for-form form.active .form-actions {
  transform: translateY(0);
  opacity: 1;
}
.page-for-form form .heading {
  font-size: 33px;
  color: #F9F6EE;
  font-weight: 800;
  transition: 1s;
  opacity: 0;
  transform: translateX(-200px);
}
.page-for-form form .inputs-labels {
  opacity: 0;
  transform: translateX(-200px);
  transition: 1s;
}
.page-for-form form .inputs-labels label {
  color: #F9F6EE;
  font-size: 15px;
}
.page-for-form form .inputs-labels input, .page-for-form form .inputs-labels textarea {
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  border: 2px solid rgba(249, 246, 238, 0.5960784314);
  outline: none;
  color: #F9F6EE;
  font-size: 14px;
  width: 82%;
  max-width: 500px;
  height: 45px;
  cursor: pointer;
  background: transparent;
}
.page-for-form form .inputs-labels input:hover, .page-for-form form .inputs-labels textarea:hover {
  background: #254e6d;
}
.page-for-form form .inputs-labels input:focus, .page-for-form form .inputs-labels textarea:focus {
  cursor: unset;
  background: #183b56;
  border: 3px solid rgba(249, 246, 238, 0.6980392157);
}
.page-for-form form .inputs-labels textarea {
  height: 100px;
  min-height: 70px;
  max-height: 300px;
}
.page-for-form form .form-actions {
  margin-top: 45px;
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s;
}
.page-for-form form .form-actions button {
  background: transparent;
  border-color: #F9F6EE;
}

@media only screen and (min-device-width: 1150px) {
  .page-for-form {
    transition: 1s;
    position: relative;
    overflow: hidden;
    background: #183b56;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .page-for-form .contact-us-img {
    display: block;
    position: absolute;
    right: 0;
    top: 52%;
    transform: translateY(-50%) translateX(250px);
    opacity: 0;
    transition: 1s;
    width: 490px;
    height: auto;
    max-height: 320px;
    box-shadow: 35px 5px 20px rgba(37, 121, 185, 0.6156862745);
  }
  .page-for-form form {
    padding-inline: 0;
    padding-block: 35px;
  }
  .page-for-form form.active .contact-us-img {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
  .page-for-form form .heading {
    font-size: 38px;
    color: #F9F6EE;
    font-weight: 800;
  }
  .page-for-form form .inputs-labels label {
    color: #F9F6EE;
    font-size: 16px;
  }
  .page-for-form form .inputs-labels input, .page-for-form form .inputs-labels textarea {
    border-radius: 4px;
    padding: 5px;
    padding-left: 8px;
    border: 2px solid rgba(249, 246, 238, 0.5960784314);
    outline: none;
    color: #F9F6EE;
    font-size: 14px;
    width: 82%;
    max-width: 500px;
    height: 45px;
    cursor: pointer;
    background: transparent;
  }
  .page-for-form form .inputs-labels input:hover, .page-for-form form .inputs-labels textarea:hover {
    background: #254e6d;
  }
  .page-for-form form .inputs-labels input:focus, .page-for-form form .inputs-labels textarea:focus {
    cursor: unset;
    background: #183b56;
    border: 3px solid rgba(249, 246, 238, 0.6980392157);
  }
  .page-for-form form .inputs-labels textarea {
    height: 100px;
    min-height: 70px;
    max-height: 300px;
  }
  .page-for-form form .form-actions {
    margin-top: 45px;
  }
  .page-for-form form .form-actions button {
    background: transparent;
    border-color: #F9F6EE;
  }
  .page-for-form form .form-actions button:hover {
    background: #254e6d;
  }
}/*# sourceMappingURL=form.css.map */