// standard phone
#mobileNav{
    display: none;
}
#desNav{
    display: none;
}
#footer{
    display: none;
}

body,html{
    background: white !important;
    overflow-x: hidden !important;
}

*{
    font-family: 'Jost', sans-serif;
}

.flex{
    padding-top: 100px;
    margin: 30px;
    height: 100%;
    .card{
        border-radius: 2px;
        border: 1px solid rgba(50,50,50,0.1);
        width: 100%;
        max-width: 350px;
        height: 734px;
        position: relative;
        cursor: pointer;
        transition: .2s;
        margin-block: 35px;
        &:hover{
            border: 1px solid lightgreen;
        }
        .content{
            overflow: hidden;
            padding: 41px;
            .image{
                margin-bottom: 40px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }
            }
            .text{
                width: auto;
                text-align: left;
                h1{
                    font-size: 24px;
                    font-weight: 600;
                    color: #363636;;
                }
                .info{
                    margin-block: 33px;
                    p{
                        color: #363636;
                        font-family: Inter, sans-serif;
                        font-size: 18px;
                        margin-bottom: 0;
                        strong{
                            margin-right: 1px;
                        }
                    }
                }
                p{
                    color: #363636;;
                    opacity: 1;
                    font-family: Inter, sans-serif;
                    font-size: 18px;
                    margin-bottom: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 6; /* number of lines to show */
                            line-clamp: 6; 
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}


@media only screen and (min-device-width: 1150px) {
    .flex{
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        .card{
            flex-shrink: 0;
            border-radius: 2px;
            border: 1px solid rgba(50,50,50,0.1);
            width: 100%;
            max-width: 440px;
            height: 756px;
            transition: .2s;
            margin-block: 35px;
            margin-inline: 35px;
            &:hover{
                border: 1px solid lightgreen;
            }
            .content{
                padding: 45px;
                .image{
                    margin-bottom: 40px;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                    }
                }
                .text{
                    width: auto;
                    text-align: left;
                    h1{
                        font-size: 28px;
                        font-weight: 600;
                        color: #363636;;
                    }
                    .info{
                        margin-block: 33px;
                        p{
                            color: #363636;
                            font-family: Inter, sans-serif;
                            font-size: 19px;
                            margin-bottom: 0;
                            strong{
                                margin-right: 1px;
                            }
                        }
                    }
                    p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 6; /* number of lines to show */
                                line-clamp: 6; 
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}