// standard phone
.cover{
    width: 100%;
    height: 700;
    min-height: 100vh;
    transition: 2s; 
    position: relative;
    .border{
        width: 80%;
        height: 5px;
        background: #0088F9;
        display: block;
        position: absolute;
        top: 85vh;
        left: 50%;
        transform: translateX(-50%) translateY(150px);
        border-radius: 20px;
        opacity: 0;
        transition: .4s;
        &.active{
            opacity: 1;
            transform: translateY(0) translateX(-50%);
        }
    }
    .des-cover-actions{
        display: none;
    }
    .content{
        width: 100%;
        height: max-content;
        padding-inline: 20px;
        padding-top: 98px;
        padding-bottom: 55px;
        position: relative;
        text-align: center;
        background: linear-gradient(to right, #279eff, #0088F9);
        border-bottom: 10px solid transparent;
        border-bottom-right-radius: 43%;
        .text{
            h1{
                color: #F9F6EE;
                font-size: 46px;
                z-index: 10000;
                position: relative;
                width: max-content;
                padding-right: 25px;
                transition: .4s;
                transform: translateY(150px);
                opacity: 0;
                &.active{
                    opacity: 1;
                    transform: translateY(0);
                }
                span{
                    opacity: 0;
                    transform: translateX(-40px);
                    color: #f9f6eea6;
                    &.active{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
            p{
                color: #f9f6eea1;
                margin-block: 24px;
                transition: .4s;
                transform: translateY(150px);
                opacity: 0;
                &.active{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    .mob-cover-actions{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
        opacity: 0;
        transform: translateY(190px);
        &.active{
            opacity: 1;
            transform: translateY(45px);
        }
        button{
            margin-inline: 10px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
} 
.what-i-do{
    background: #F9F6EE;
    width: 100%;
    height: 100%;
    &.active{
        .text{
            .paragraph{
                opacity: 0.8 !important;
                transform: translateX(0) !important;
            }
        }
    }
    .content{
        margin: auto;
        width: 100%;
        max-width: 1150px;
        padding: 40px 0;
        position: relative;
        background: linear-gradient(to left, #279eff, #0088F9);
        border-bottom: 10px solid transparent;
        border-bottom-left-radius: 43%;
        .text{
            text-align: center;
            .headingp{
                font-size: 14px;
                color: #F9F6EE;
                opacity: 0.8;
                text-transform: uppercase;
                margin-bottom: 7px;
            }
            .heading{
                margin-top: 10px;
                margin-bottom: 25px;
                color: #F9F6EE;
                font-size: 37px;
                font-weight: 800;
                padding-inline: 15px;
                span{
                    padding-bottom: 5px;
                    border-bottom: 2px solid #0088F9;
                }
            }
            .paragraph{
                transition: 1s;
                color: #F9F6EE;
                padding-left: 35px;
                transform: translateX(150px);
                opacity: 0;
            }
        }
        .guarantee{
            display: none;
        }
    }  
}   
.prices{
    background: #F9F6EE;
    width: 100%;
    height: 100%;
    &.active{
        .text{
            .paragraph{
                opacity: 0.8 !important;
                transform: translateY(0) !important;
            }
        }
        .flex{
            opacity: 1 !important;
            transform: translateY(0) !important;
        }
    }
    .content{
        margin: auto;
        width: 100%;
        max-width: 1150px;
        padding: 20px;
        padding-top: 60px;
        .text{
            text-align: center;
            .headingp{
                font-size: 14px;
                color: #0088F9;
                opacity: 0.8;
                text-transform: uppercase;
                margin-bottom: 7px;
            }
            .heading{
                margin-top: 10px;
                margin-bottom: 25px;
                color: #183b56;
                font-size: 37px;
                font-weight: 800;
                span{
                    padding-bottom: 5px;
                    border-bottom: 2px solid #0088F9;
                }
            }
            .paragraph{
                opacity: 0;
                transition: 1s;
                transform: translateY(150px);
            }
        }
        .flex{
            transition: 1s;
            opacity: 0;
            transform: translateY(150px);
            .card{
                margin-block: 34px;
                height: auto;
                padding: 28px;
                width: 100%;
                max-width: 400px;
                border-radius: 14px;
                border: none;
                background: linear-gradient(to top right, #0088F9, #2276b6 );
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-top: 0;
                }
                .card-content{
                  display: flex;
                  .icon{
                    width: 25%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    i{
                      color: #F9F6EE;
                      font-size: 32px;
                      transform: translateX(-15px);
                    }
                  }
                  .card-text{
                    width: 75%;
                    text-align: left;
                    transform: translateX(7px);
                    h1{
                      color: #F9F6EE;
                      font-size: 18px;
                      font-weight: 800;
                      letter-spacing: 0.3px; 
                    }
                    p{
                      box-sizing: border-box;
                      color: #f9f6eea2;
                      display: block;
                      font-family: Inter, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      height: auto;
                      line-height: 27px;
                      margin-bottom: 0;
                    }
                  }
                }
            }
        }
    }
}
@media only screen and (min-device-width: 1150px) {
    .cover{
        width: 100%;
        height: 700px;
        min-height: 100vh;
        transition: .2s; 
        position: relative;
        overflow: hidden;
        background: #0089f996;
        .border{
            display: none;
        }
        .width{
            .des-left-row{
                position: absolute;
                top: 0;
                left: 0;
                min-height: 100vh;
                width: 78%;
                background: linear-gradient(to right, #279eff, #0088F9);
                border-right: 8px solid #F9F6EE;
                border-bottom-right-radius: 50%;
                z-index: 10;
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    right: -100%;
                    top: 0;
                    width: 100%;
                    height: 88px;
                    background: #0088F9;
                    border-bottom: 8px solid #F9F6EE;
                }
            }
            width: 100%;
            position: relative;
        }
        .mob-cover-actions{
            display: none;
        }
        .des-cover-actions{
            display: flex;
            align-items: center;
            justify-content: left;
            margin-top: 0;
            transition: .4s;
            transform: translateY(20px);
            opacity: 0;
            &.active{
                opacity: 1;
            }
            button{
                transition: .3s !important;
                margin-inline: 20px;
                font-size: 17px;
                background: transparent;
                border-color: #F9F6EE;
                color: white;
                &:hover{
                    background: #279eff;
                    border-color: transparent;
                }
                &.primary{
                    margin-left: 0;
                }
            }
        }
        .content{
            width: 100%;
            max-width: 1150px;
            height: max-content;
            padding-bottom: 250px;
            text-align: left;
            padding-inline: 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 120px;
            background: transparent;
            z-index: 1000000000;
            .text{
                width: 100%;
                h1{
                    font-size: 75px;
                    border: none;
                    transform: translateX(0) translateY(0);
                    &.active{
                        opacity: 1;
                    }
                }
                p{
                    max-width: 500px;
                    transform: translateY(8px);
                    opacity: 0;
                    font-size: 19px;
                    &.active{
                        opacity: 1;
                        transform: translateY(8px);
                    }
                }
            }
        }
    }    
    .what-i-do{
        background: linear-gradient(to bottom, #0089f996, #0089f9af);
        width: 100%;
        height: 100%;
        padding-top: 0;
        transform: translateY(80px);
        &.active{
            .text{
                .paragraph{
                    opacity: 0.8 !important;
                    transform: translateY(0) !important;
                }
            }
            .guarantee{
                opacity: 1 !important;
                transform: translateY(53px) !important;
            }
        }
        .content{
            margin: auto;
            width: 100%;
            max-width: 1150px;
            padding: 120px 0;
            position: relative;
            background: unset;
            border-bottom: unset;
            border-bottom-left-radius: unset;
            margin-bottom: 120px;
            transform: translateY(-40px);
            .text{
                text-align: center;
                .headingp{
                    font-size: 17px;
                    color: #F9F6EE;
                    opacity: 0.8;
                    text-transform: uppercase;
                    margin-bottom: 7px;
                }
                .heading{
                    margin-top: 10px;
                    margin-bottom: 30px;
                    color: #F9F6EE;
                    font-size: 50px;
                    font-weight: 800;
                    br{
                        display: none;
                    }
                    span{
                        padding-bottom: 5px;
                        border-bottom: 2px solid #0088F9;
                    }
                }
                .paragraph{
                    text-align: center;
                    margin: auto;
                    max-width: 55%;
                    font-size: 19px;
                    color: #F9F6EE;
                    transform: translateY(150px) translateX(0);
                }
            }
            .guarantee{
                width: 90%;
                max-width: 410px;
                background: #0089f94f;
                border-radius: 14px;
                height: auto;
                padding: 28px;
                display: block;
                transform: translateY(250px);
                margin: auto;
                opacity: 0;
                transition: 1s;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-top: 0;
                }
                .card-content{
                  display: flex;
                  .icon{
                    width: 25%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    i{
                      color: #F9F6EE;
                      font-size: 32px;
                      transform: translateX(-15px);
                    }
                  }
                  .card-text{
                    width: 75%;
                    text-align: left;
                    transform: translateX(7px);
                    h1{
                      color: #F9F6EE;
                      font-size: 18px;
                      font-weight: 800;
                      letter-spacing: 0.3px; 
                    }
                    p{
                      box-sizing: border-box;
                      color: #f9f6eea2;
                      display: block;
                      font-family: Inter, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      height: auto;
                      line-height: 27px;
                      margin-bottom: 0;
                    }
                  }
                }
            }
        }  
    }       
    .prices{
        background: #F9F6EE;
        width: 100%;
        height: 100%;
        .content{
            margin: auto;
            width: 100%;
            max-width: 1150px;
            padding: 40px 0;
            position: relative;
            .text{
                text-align: center;
                .headingp{
                    font-size: 16px;
                    color: #0088F9;
                    opacity: 0.8;
                    text-transform: uppercase;
                    margin-bottom: 7px;
                }
                .heading{
                    margin-top: 10px;
                    margin-bottom: 30px;
                    color: #183b56;
                    font-size: 48px;
                    font-weight: 800;
                    br{
                        display: none;
                    }
                    span{
                        padding-bottom: 5px;
                        border-bottom: 2px solid #0088F9;
                    }
                }
                .paragraph{
                    text-align: center;
                    margin: auto;
                    max-width: 50%;
                    font-size: 18px;
                }
            }
            .flex{
                width: 100%;
                max-width: 1150px;
                text-align: center;
                .card{
                    display: inline-block;
                    margin-inline: 34px;
                    height: auto;
                    padding: 28px;
                    width: 100%;
                    min-width: 400px;
                    border-radius: 14px;
                    border: none;
                    cursor: pointer;
                    transition: .5s;
                    &:hover{
                        transform: scale(1.1);
                        background: linear-gradient(to right, #0088F9, #0088F9);
                    }
                    .card-content{
                      display: flex;
                      .icon{
                        width: 25%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        i{
                          color: #F9F6EE;
                          font-size: 34px;
                          transform: translateX(-15px);
                        }
                      }
                      .card-text{
                        width: 75%;
                        text-align: left;
                        transform: translateX(7px);
                        h1{
                          color: #F9F6EE;
                          font-size: 20px;
                          font-weight: 800;
                          letter-spacing: 0.3px; 
                        }
                        p{
                          box-sizing: border-box;
                          color: #f9f6eea2;
                          display: block;
                          font-family: Inter, sans-serif;
                          font-size: 16px;
                          font-weight: 400;
                          height: auto;
                          margin-bottom: 0;
                        }
                      }
                    }
                  }
            }
        }
    }
}

