.cover {
  width: 100%;
  height: 700;
  min-height: 100vh;
  transition: 2s;
  position: relative;
}
.cover .border {
  width: 80%;
  height: 5px;
  background: #0088F9;
  display: block;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%) translateY(150px);
  border-radius: 20px;
  opacity: 0;
  transition: 0.4s;
}
.cover .border.active {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}
.cover .des-cover-actions {
  display: none;
}
.cover .content {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-inline: 20px;
  padding-top: 98px;
  padding-bottom: 55px;
  position: relative;
  text-align: center;
  background: #0088F9;
  border-bottom: 10px solid transparent;
  border-bottom-right-radius: 43%;
}
.cover .content .text h1 {
  color: #F9F6EE;
  font-size: 46px;
  z-index: 10000;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 25px;
  transition: 0.4s;
  transform: translateY(150px);
  opacity: 0;
}
.cover .content .text h1.active {
  opacity: 1;
  transform: translateY(0);
}
.cover .content .text h1 span {
  opacity: 0;
  transform: translateX(-40px);
  color: rgba(249, 246, 238, 0.6509803922);
}
.cover .content .text h1 span.active {
  opacity: 1;
  transform: translateX(0);
}
.cover .content .text p {
  color: rgba(249, 246, 238, 0.631372549);
  margin-block: 24px;
  transition: 0.4s;
  transform: translateY(150px);
  opacity: 0;
}
.cover .content .text p.active {
  opacity: 1;
  transform: translateY(0);
}
.cover .mob-cover-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(190px);
}
.cover .mob-cover-actions.active {
  opacity: 1;
  transform: translateY(45px);
}
.cover .mob-cover-actions button {
  margin-inline: 10px;
}
.cover .mob-cover-actions button:first-child {
  margin-left: 0;
}

.what-i-do {
  background: #F9F6EE;
  width: 100%;
  height: 100%;
}
.what-i-do.active .text .paragraph {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.what-i-do.active .flex {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.what-i-do .content {
  margin: auto;
  width: 100%;
  max-width: 1150px;
  padding: 20px;
}
.what-i-do .content .text {
  text-align: center;
}
.what-i-do .content .text .headingp {
  font-size: 14px;
  color: #0088F9;
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.what-i-do .content .text .heading {
  margin-top: 10px;
  margin-bottom: 25px;
  color: #183b56;
  font-size: 37px;
  font-weight: 800;
}
.what-i-do .content .text .heading span {
  padding-bottom: 5px;
  border-bottom: 2px solid #0088F9;
}
.what-i-do .content .text .paragraph {
  opacity: 0;
  transition: 1s;
  transform: translateY(150px);
}
.what-i-do .content .flex {
  transition: 1s;
  opacity: 0;
  transform: translateY(150px);
}
.what-i-do .content .flex .card {
  margin-block: 34px;
  height: auto;
  padding: 28px;
  width: 100%;
  max-width: 400px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(to top right, #0088F9, #2276b6);
}
.what-i-do .content .flex .card:first-child {
  margin-top: 0;
}
.what-i-do .content .flex .card:last-child {
  margin-top: 0;
}
.what-i-do .content .flex .card .card-content {
  display: flex;
}
.what-i-do .content .flex .card .card-content .icon {
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
}
.what-i-do .content .flex .card .card-content .icon i {
  color: #F9F6EE;
  font-size: 32px;
  transform: translateX(-15px);
}
.what-i-do .content .flex .card .card-content .card-text {
  width: 75%;
  text-align: left;
  transform: translateX(7px);
}
.what-i-do .content .flex .card .card-content .card-text h1 {
  color: #F9F6EE;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.3px;
}
.what-i-do .content .flex .card .card-content .card-text p {
  box-sizing: border-box;
  color: rgba(249, 246, 238, 0.6352941176);
  display: block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 27px;
  margin-bottom: 0;
}

@media only screen and (min-device-width: 1150px) {
  .cover {
    width: 100%;
    height: 700px;
    min-height: 100vh;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    background: rgba(0, 137, 249, 0.3882352941);
  }
  .cover .border {
    display: none;
  }
  .cover .width {
    width: 100%;
    position: relative;
  }
  .cover .width .des-left-row {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 78%;
    background: linear-gradient(to right, #279eff, #0088F9);
    border-right: 8px solid #F9F6EE;
    border-bottom-right-radius: 50%;
    z-index: 10;
  }
  .cover .width .des-left-row::after {
    content: "";
    display: block;
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 88px;
    background: #0088F9;
    border-bottom: 8px solid #F9F6EE;
  }
  .cover .mob-cover-actions {
    display: none;
  }
  .cover .des-cover-actions {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0;
    transition: 0.4s;
    transform: translateY(20px);
    opacity: 0;
  }
  .cover .des-cover-actions.active {
    opacity: 1;
  }
  .cover .des-cover-actions button {
    transition: 0.3s !important;
    margin-inline: 20px;
    font-size: 17px;
    background: transparent;
    border-color: #F9F6EE;
    color: white;
  }
  .cover .des-cover-actions button:hover {
    background: #279eff;
    border-color: transparent;
  }
  .cover .des-cover-actions button.primary {
    margin-left: 0;
  }
  .cover .content {
    width: 100%;
    max-width: 1150px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 250px;
    text-align: left;
    padding-inline: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 120px;
    background: transparent;
    z-index: 1000000000;
  }
  .cover .content .text {
    width: 100%;
  }
  .cover .content .text h1 {
    font-size: 75px;
    border: none;
    transform: translateX(0) translateY(0);
  }
  .cover .content .text h1.active {
    opacity: 1;
  }
  .cover .content .text p {
    max-width: 500px;
    transform: translateY(8px);
    opacity: 0;
    font-size: 19px;
  }
  .cover .content .text p.active {
    opacity: 1;
    transform: translateY(8px);
  }
  .what-i-do {
    background: #F9F6EE;
    width: 100%;
    height: 100%;
  }
  .what-i-do .content {
    margin: auto;
    width: 100%;
    max-width: 1150px;
    padding: 40px 0;
    position: relative;
  }
  .what-i-do .content .text {
    text-align: center;
  }
  .what-i-do .content .text .headingp {
    font-size: 16px;
    color: #0088F9;
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  .what-i-do .content .text .heading {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #183b56;
    font-size: 48px;
    font-weight: 800;
  }
  .what-i-do .content .text .heading br {
    display: none;
  }
  .what-i-do .content .text .heading span {
    padding-bottom: 5px;
    border-bottom: 2px solid #0088F9;
  }
  .what-i-do .content .text .paragraph {
    text-align: center;
    margin: auto;
    max-width: 40%;
    font-size: 18px;
  }
  .what-i-do .content .flex {
    width: 100%;
    max-width: 1150px;
    text-align: center;
  }
  .what-i-do .content .flex .card {
    display: inline-block;
    margin-inline: 34px;
    height: auto;
    padding: 28px;
    width: 100%;
    min-width: 400px;
    border-radius: 14px;
    border: none;
  }
  .what-i-do .content .flex .card .card-content {
    display: flex;
  }
  .what-i-do .content .flex .card .card-content .icon {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .what-i-do .content .flex .card .card-content .icon i {
    color: #F9F6EE;
    font-size: 34px;
    transform: translateX(-15px);
  }
  .what-i-do .content .flex .card .card-content .card-text {
    width: 75%;
    text-align: left;
    transform: translateX(7px);
  }
  .what-i-do .content .flex .card .card-content .card-text h1 {
    color: #F9F6EE;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.3px;
  }
  .what-i-do .content .flex .card .card-content .card-text p {
    box-sizing: border-box;
    color: rgba(249, 246, 238, 0.6352941176);
    display: block;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=base.css.map */