{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>

<div class="cover" id="cover">
    <div class="width">
        <div class="content">
            <div class="text">
                <h1 id="coverHeading">Professional <br>
                <span id="coverHeadingSpan">websites for less</span>
                </h1>
                <p id="coverParagraph" class="paragraph">Whether you're looking for a personal website, portfolio or even an online store, you came to the right place!</p>
            </div>
            <div class="des-cover-actions" id="desCoverCTAS">
                <button class="primary" onclick="window.location.href='#whatIDo'">What I do</button>
                <button class="secondary" onclick="myWorkScroll()">My work</button>
            </div>
        </div>
        <div class="mob-cover-actions" id="mobCoverCTAS">
            <button class="primary" onclick="window.location.href='#whatIDo'">What I do</button>
            <button class="secondary" onclick="myWorkScroll()">My work</button>
        </div>
        <div class="des-left-row"></div>
    </div>
</div>

<!-- What I do -->
<div class="what-i-do" id="whatIDo" style="padding-top: 80px; margin-top: -80px;">
    <div class="content">
        <div class="text">
            <p class="headingp">what i do</p>
            <h1 class="heading">From portfolios and blogs to online stores</h1>
            <p class="paragraph">Are you looking for a simple blog, or maybe an online store? Or both in one website? Either way, you came to the right place</p>
        </div>
        <div class="guarantee">
            <div class="card-content" onclick="desPricesScroll()">
                <div class="icon">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div class="card-text">
                    <h1>Website guarantee</h1>
                    <p>As a customer, you get a guarantee that your website with top-tier quality</p>
                </div>
            </div>
        </div>
    </div>    
</div>

<!-- Prices -->
<div class="prices" id="prices" style="padding-top: 80px; margin-top: -80px;">
    <div class="content">
        <div class="text">
            <p class="headingp">prices</p>
            <h1 class="heading">It's time to go <br> <span>online!</span></h1>
            <p class="paragraph">All websites come with the option to host your website online for only 85kr / 9$ / 8€ per month. Price of web hosting can be changed, depending on your requirements</p>
        </div>
        <br>
        <div class="flex">
            <div class="card">
                <div class="card-content" onclick="desPricesScroll()">
                    <div class="icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="card-text">
                        <h1>Portfolio</h1>
                        <p>Having a portfolio has shown to bring you 85% more clients</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content" onclick="desPricesScroll()">
                    <div class="icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="card-text">
                        <h1>Personal site</h1>
                        <p>A place where you can do whatever you want!</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content" onclick="desPricesScroll()">
                    <div class="icon">
                        <i class="fa-solid fa-blog"></i>
                    </div>
                    <div class="card-text">
                        <h1>Blog</h1>
                        <p>Perfect place to post your cooking recipes, workouts and much more!</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content" onclick="desPricesScroll()">
                    <div class="icon">
                        <i class="fa-solid fa-store"></i>
                    </div>
                    <div class="card-text">
                        <h1>Online store</h1>
                        <p>Get started with an online store and start selling</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-us page-for-form" id="contactForm">
    <form id="contactUs" action="" method="POST">
    <img src="{% static 'images/other/blue-lake.jpg' %}" alt="" class="contact-us-img">
       <h1 class="heading">Let's get started!</h1>
        {% csrf_token %}
        <br>
        <div class="inputs-labels">
           <label class="name" for="navn">Name</label>
           <br>
           <input class="name" type="text" name="navn" required oninvalid="this.setCustomValidity('Please enter your name')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label class="email" for="email">Email</label>
           <br>
           <input class="email" type="email" name="email" required oninvalid="this.setCustomValidity('Please enter your email')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label class="message" for="message">What are you looking for?</label>
           <br>
           <textarea class="message" name="message" required oninvalid="this.setCustomValidity('Please enter your message')" oninput="this.setCustomValidity('')"></textarea>
          </div>
        <div class="form-actions">
          <button type="submit" name="contact" value="contact" class="primary">Get started</button>
        </div>
      </form>
   </div>
{% endblock %}